@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* -------------------------------------------------Hero Section */
.hero-image {
    background-image: url(/assets/images/pexels-eberhardgross-1612362.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}


/* -------------------------------------------------Navigation bar */
.nav-flexbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

/* -------------------------------------------------Information Cards */


/* -------------------------------------------------Resource Links */