@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* -------------------------------------------------Hero Section */



/* -------------------------------------------------Navigation bar */
.nav-flexbox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

/* -------------------------------------------------Information Cards */


/* -------------------------------------------------Resource Links */