@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* -------------------------------------------------General Styles */
body {
    font-family: "Nunito", sans-serif;
    background-color: #fafafa;
 }

 .uppercase {
    text-transform: uppercase;
 }

 .text-center {
    text-align: center;
 }

 .general-header {
    padding: 50px;
}

/* -------------------------------------------------Hero Section */
.hero-image {
    background: url(../images/pexels-veeterzy-114979.jpg) center center / cover;
    height: 75vh;
    margin: 0;
    padding: 0;
    top: 0;
    background-position: top;
}

.header-container {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.hero-title {
    text-align: center;
    font-weight: 600;
    letter-spacing: 1rem;
    font-size: 5em;
    color: #fafafa;
    padding-top: 150px;
}

.sub-header {
    text-align: center;
    color: #fafafa;
    margin-top: 25px;
}

/* -------------------------------------------------Navigation bar */
.nav-section {
    background-color: #f5e1d3;
}

.nav-flexbox {
    /* flex properties */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.5vh;
    padding-top: 100px;

    /* ul properties */
    list-style: none;
    margin: 1% 10% 1% 10%;
    padding: 0;
    font-size: 2.5vmin;
}

.nav-flexbox a {
    text-decoration: none;
    color: #3b444b;
    transition: color 300ms ease-in-out;
    font-weight: 800;
}

.nav-flexbox a:hover {
    color: #8287e2;
}

/* -------------------------------------------------Information Cards */
.card-section {
    background-color: #e6e6fa;
}

.cardItem {
    margin-bottom: 50px;
}

.card-title {
    text-align: center;
    margin-bottom: 15px;
}

/* -------------------------------------------------Resource Links */
.resource-links {
    background-color: #a5d8ff;
}

.cardItem-resource {
    margin-bottom: 50px;
}

/* -------------------------------------------------Quotes Section */
/* invert the color of the standard bootstrap carousel buttons */
.quotes-section {
    background-color: #e6e6fa;
}

.carousel-button {
    filter: invert(100%);
}

.carousel-section {
    border-radius: 10px;
    width: 75%;
}

/* -------------------------------------------------Media Queries */
    /* changing font size of headers and nav links on small devices */
@media screen and (max-width: 480px) {
    .hero-title {
        font-size: 4em;
    }

    .nav-flexbox {
        font-size: 4vmin;
    }

}

    /* Changing size of navbar on small/medium devices */
@media screen and (min-width: 960px) {
    .nav-flexbox {
        height: 2.5vh;
    }
}

      /* media query for XXXL screens copied from stack-overflow*/
@media screen and (min-width: 1800px) {
    .mx-w-100 {
      max-width: 85% !important;
    }
}

